body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    color: #181818;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-style: normal;
    line-height: normal;
}
.logo-design{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;

}
ul li{
    list-style: none;
    margin: 0 0 0 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* Button CSS*/
.custom-button{
    color: #FFF;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 15px 35px;
    flex-shrink: 0;
}
/* cover slide*/
.header{
    background: #FFF8F3 url("../images/header_bg.png") no-repeat bottom right;
}
.banner{
    padding: 30px 0 0 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-content{
    max-width: 500px;

}
.cover-image{
    width: 760px;
    height: 640px;
    flex-shrink: 0;

}




.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    border: 0;
    margin: 130px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}
.description,.title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.section-description{
    padding: 30px 170px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.skill-container{
    display: flex;
    padding: 20px 180px;
    justify-content: space-between;
    align-items: center;

}
.skills{
    width: 279px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFFF;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);

}
.skill-title{
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 30px;
}
.skills-image{
    padding: 30px;
}
.skill-description{
    padding: 33px;
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.experience-container{
        margin-top: 200px;
    margin-bottom: 150px;
}
.experience{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.ex-title{
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ex-name{
    color:  #474747;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.ex-ins{
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.ex-body{
    height:250px;
}
.ex-header{
    width: 650px;

}
.ex-description{
    color:  #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}
.cv-btn{
    text-align: center;
}


/* Footer content*/
.footer{
    background: #FFF8F3;
    display: flex;
    height: 700px;
    justify-content: space-around;

}
.footer-content{
    width: 550px;
    margin-top: 100px;
}
.content-item img{
    margin: 15px;
}
.input-box {
    width: 461px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    border: 0;
}

.textarea{
    width: 461px;
    height: 180px;
    flex-shrink: 0;
    border: 0;
}
.form{
    padding: 10px 0;
}