body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    color: #181818;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-style: normal;
    line-height: normal;
}
.logo-design{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;

}
ul li{
    list-style: none;
    margin: 0 0 0 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* Button CSS*/
.custom-button{
    color: #FFF;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 15px 35px;
    flex-shrink: 0;
}
/* cover slide*/
.header{
    background: #FFF8F3;;
}
.banner{
    padding: 30px 30px 30px 150px ;
    display: flex;
    align-items: center;
}
.cover-image{
    width: 540px;
    height: 626px;
    flex-shrink: 0;
}